.woocommerce-cart
  display: block

  .woocommerce-error
    display: none!important

  .shop_table.cart
    border: none!important

    thead
      display: none

    tr
      margin-bottom: 40px

      @include media-breakpoint-up(md)
        margin-bottom: auto

      &:nth-child(2n) td
        background: #fff !important

    td
      border: none!important
      font-size: 18px
      text-transform: uppercase
      font-weight: 100
      text-align: right

      &:before
        display: none!important

      &.product-remove
        display: none

      &.product-thumbnail
        text-align: left!important

        @include media-breakpoint-down(md)
          display: block!important

        img
          width: 100px

      &.product-name
        text-align: center!important

      &.product-price,
      &.product-thumbnail,
      &.product-quantity,
      &.product-subtotal

        @include media-breakpoint-down(md)
          text-align: center!important

    .actions
      padding: $spacing-md 0 0!important
      margin: 0!important

      & > .btn
        background: #fbfbfb!important
        color: $primary!important
        text-transform: uppercase
        font-weight: 100!important
        border: none!important
        font-size: 16px!important

    .coupon
      position: relative
      text-align: center

      @include media-breakpoint-up(md)
        text-align: left

      label
        display: inline-block!important
        text-transform: uppercase
        font-size: 13px
        font-weight: 100

        @include media-breakpoint-up(md)
          position: absolute
          bottom: -27px

      input[type="text"]
        border-right: none!important
        border-left: none!important
        border-top: none!important
        border-bottom: 1px solid $primary!important
        padding: 0!important
        font-weight: 100
        float: none!important
        width: 120px!important

        &::-webkit-input-placeholder
            color: #fff

        &:-moz-placeholder
           color: #fff
           opacity: 1

        &:-ms-input-placeholder
           color: #fff

      .btn
        text-transform: uppercase
        font-weight: 100
        background: $primary !important
        color: #fff!important
        margin: 15px auto
        display: block

        @include media-breakpoint-up(md)
          display: inline-block
          margin-left: 20px!important

    .btn[name="update_cart"]
      @include media-breakpoint-down(md)
        display: block
        margin: 0 auto

  .cart_totals
    @include clearfix()

    float: none!important
    width: 100%!important

    table
      border-collapse: collapse!important
      width: 300px!important
      margin: 0 auto!important
      border: none!important

      @include media-breakpoint-up(md)
        margin: auto
        float: left

      tr
        border-bottom: 1px solid $primary

        &.shipping
          display: none!important

      th
        border: none!important
        width: 0!important
        padding: 5px 0!important
        text-transform: uppercase!important
        font-size: 15px!important
        vertical-align: middle!important

      td
        border: none!important
        padding: 5px 0!important

        &:before
          text-transform: uppercase!important
          font-size: 14px!important

        @include media-breakpoint-up(md)
          width: 50px!important

        .amount
          font-weight: 100!important

      .shipping .woocommerce-Price-amount
        text-transform: uppercase
        font-size: 18px!important
        text-align: right!important
        font-weight: 100!important

        display: block!important
        float: right!important
        width: 50px!important

        position: relative
        top: 2px

    h2
      text-transform: uppercase
      font-weight: 100
      font-size: $headings-font-size-md
      margin: $spacing-md 0 $spacing-lg 0
      text-align: center

      @include dot()

      @include media-breakpoint-up(md)
        text-align: left
        font-size: $h1-font-size

  .wc-proceed-to-checkout
    float: right
    width: 100%

    @include media-breakpoint-up(md)
      width: 40%
      margin-top: -90px

    .btn
      width: 100%
      margin: 0 auto
      display: block
      font-weight: 700
      text-transform: uppercase
      font-size: 16px
      border-radius: 0

      @include media-breakpoint-up(lg)
        font-size: 18px

  &__cart-icon
    width: 90px
    display: block
    margin: 0 auto $spacing-sm auto
