.woocommerce-checkout

  .input-text
    border-top: none
    border-right: none
    border-left: none
    padding: 0

    &:focus
      box-shadow: none

  .form-group
    margin-bottom: 60px!important
    position: relative

    &.woocommerce-validated
      .input-text
        border-color: $primary!important

  .form-row
    position: relative

    & > textarea,
    & > input
      height: 20px!important
      color: $primary!important
      font-weight: 100
      padding-bottom: 2px!important

    label
      text-transform: uppercase
      font-size: 13px
      font-weight: 100
      margin-bottom: 0!important

      position: absolute
      bottom: -27px
      left: 4px

      abbr
        display: none!important

    .woocommerce-input-wrapper
      width: 100%!important

  h3
    background: $primary
    padding: 6px 15px
    color: #fff
    font-size: 13px
    text-transform: uppercase
    display: block
    width: 190px
    text-align: center
    position: relative
    margin: 0 auto $spacing-md auto

    @include media-breakpoint-up(md)
      font-size: 15px
      margin: 0 0 $spacing-lg 0
      display: inline-block
      width: auto

    &:after
      content: ''
      display: block
      height: 8px
      width: 8px
      border: 8px solid $primary
      border-bottom-color: transparent
      border-right-color: transparent
      border-left-color: transparent
      position: absolute
      bottom: 0
      left: 27px
      transform: translateY(100%)

  .select2-selection--single
    border-bottom: 1px solid $primary!important
    border-top: none
    border-left: none
    border-right: none
    border-radius: 0

    .select2-selection__rendered
      padding-left: 0

  #billing_address_2_field
    display: none!important

  .shop_table
    border: none!important
    border-collapse: collapse!important
    width: 300px!important

    @include media-breakpoint-up(md)
      float: left

    @include media-breakpoint-down(md)
      margin: 0 auto $spacing-md auto!important

    thead, tbody
      display: none

    tr
      border-bottom: 1px solid $primary

      &.shipping

        td
          width: 90%!important

    th
      text-transform: uppercase
      font-size: 15px!important
      border: none!important
      padding: 5px 0!important
      vertical-align: middle!important

    td
      border: none!important
      font-size: 18px!important
      text-transform: uppercase
      font-weight: 100!important
      width: 50px
      padding: 5px 0!important
      text-align: right!important

      .amount
        font-weight: 100!important

  .btn
    text-transform: uppercase
    font-weight: 100
    font-size: 14px

  #order-review-heading
    margin: $spacing-md 0
    color: $primary
    font-weight: 100
    font-size: $headings-font-size-md
    text-transform: uppercase
    display: block
    text-align: center
    position: relative

    @include media-breakpoint-up(lg)
      font-size: $h1-font-size
      margin-bottom: $spacing-lg
      display: inline-block
      text-align: left

    @include dot()

  .woocommerce-checkout-payment
    background: transparent!important

    @include media-breakpoint-up(md)
      float: right
      width: 50%

    & > .wc_payment_methods
      padding: 0!important
      border-bottom: none!important

      label
        display: none!important

    .payment_method_besteron_cards
      display: none!important

    div.payment_box.payment_method_besteron_buttons
      background: none !important
      padding: 0!important
      margin: 0!important

      &:before
        display: none!important

      .form-row
        margin: 0!important
        padding: 0!important

        & > div:first-child
          display: none!important

      img
        display: none!important

  .place-order
    padding: 0!important
    margin: 0!important
    display: block!important

    .btn
      background: $primary!important
      color: #fff!important
      padding: .5rem 1rem!important
      font-size: 15px!important
      text-transform: uppercase
      font-weight: 700!important
      width: 100%
      margin-top: 32px!important

      @include media-breakpoint-up(sm)
        font-size: 18px!important

  #payment
    @include media-breakpoint-up(lg)
      margin-top: -135px!important

  .woocommerce-terms-and-conditions-wrapper
    margin-top: $spacing-lg

    .woocommerce-terms-and-conditions
      background: #fff !important