.woocommerce-order-received

  .woocommerce-order

    & > section
      display: none!important

    .woocommerce-order-overview
      @include list-unstyled()

      li
        border-right-style: solid!important
        border-right-color: $primary

        &:last-of-type
          border: none!important