.archive

  .page-title
    display: none

  .products
    margin-top: $spacing-lg!important

  li.product
    text-align: center
    transition: transform .3s

    &:hover
      transform: scale(1.1)

    a img
      @extend .featured-product__thumbnail
      display: block
      margin: 0 auto!important

    .woocommerce-loop-product__title
      @extend .featured-product__title
      padding: 0!important

    p.brand
      @extend .featured-product__brand

    p.additionals
      @extend .featured-product__additionals

    .star-rating
      display: none!important

    .price
      display: inline-block!important
      padding: 1px 5px!important
      font-weight: 500!important
      margin-top: 5px!important
      background: $primary
      color: $primary!important

      ins
        font-weight: inherit!important

      .amount
        color: $secondary
        font-size: 15px

        @include media-breakpoint-up(md)
          font-size: 18px

  .woocommerce-info
    border-top: none!important
    margin-top: $spacing-lg!important
    background: none!important
    padding: 0!important

    &:before
      display: none!important

  &__product-filter
    padding: 0 $spacing-md $spacing-md
    background: #f2f2f3
    display: flex
    flex-direction: row
    flex-wrap: wrap

    @include clearfix()

    @include media-breakpoint-up(lg)
      flex-wrap: nowrap
      padding: $spacing-md

    &__heading
      text-transform: uppercase
      font-weight: 100
      text-align: center
      margin-bottom: $spacing-sm

    &__item
      padding: $spacing-md
      margin-top: $spacing-md
      background: #fff
      height: 130px
      text-align: center

      font-size: 18px
      text-transform: uppercase
      font-weight: 100

      @include media-breakpoint-up(lg)
        margin-top: 0

        &:not(:last-child)
          margin-right: $spacing-md

      &--range
        width: 100%

        @include media-breakpoint-up(lg)
          flex-grow: 2
          width: auto

        .price_slider
          height: 2px!important

        .ui-slider-range
          background: $primary!important

        .ui-slider-handle
          background: $primary!important
          width: 15px!important
          height: 15px!important
          top: -8px!important

        .price_slider_amount
          text-align: center!important

          .price_label
            float: none!important
            visibility: collapse
            font-size: 0

            & > span
              visibility: visible
              font-size: 16px!important

              &.from
                &:after
                  content: '-'
                  display: inline-block
                  padding: 0 5px

        .woof_submit_search_form_container
          display: none!important

      &--list
        width: 100%

        @include media-breakpoint-up(md)
          width: calc(50% - 15px)

        @include media-breakpoint-up(lg)
          width: auto

        ul
          margin: 0
          padding: 0

          & > li
            display: inline-block
            width: auto

            &:not(:last-child)
              margin-right: $spacing-md

      &--dropdown
        z-index: 999!important
        width: 100%

        @include media-breakpoint-up(md)
          margin-right: $spacing-md
          width: calc(50% - 15px)

        @include media-breakpoint-up(lg)
          width: auto

        ul
          margin: 0
          padding: 0

        li
          display: inline-block
          width: 200px
          background: #fff
          border: none!important
          box-shadow: none!important
          transition: all $transition-time-md
          text-align: left

          &.chosen
            position: relative

            a
              background-position: right 11px!important

        .yit-wcan-select-open,
        .yith-wcan-select-wrapper
          border-color: $primary!important

        ul.yith-wcan-select

          li:hover
            background: $primary

            a
              color: #fff!important

    li
      list-style: none

      & > a
        margin: 0
        color: $primary!important

    .yith-wcan-select-wrapper
      margin-top: -1px

    li.chosen
      position: relative

      a:before
        position: absolute
        top: 8px
        left: -17px
        font-size: 13px

.woocommerce-products-header

  &.category--coffee
    .product-categories__item:nth-child(2)
      a
        font-weight: 500

      &:after
        opacity: 1

  &.category--accesories
    .product-categories__item:first-child
      a
        font-weight: 500

      &:after
        opacity: 1

.product-categories
  text-align: center
  margin-bottom: $spacing-md

  @include clearfix()

  @include media-breakpoint-up(lg)
    text-align: left

  .product-categories-wrapper

    @include media-breakpoint-up(lg)
      float: left

  &__item
    display: inline-block

    @include dot-left()

    & > a
      font-size: 20px
      font-weight: 100
      text-transform: uppercase

      @include media-breakpoint-up(md)
        font-size: $h2-font-size

    &:not(:last-child)
      margin-right: 30px

      @include media-breakpoint-up(md)
        margin-right: 60px

    &:hover

      a
        font-weight: 500

      &:after
        opacity: 1

  .advanced-filter
    @extend .down
    position: relative
    top: 6px

    @include media-breakpoint-up(lg)
      float: right
      margin-top: 0

.woocommerce-pagination

  ul
    border: none!important

    li
      border: none!important
      border-radius: 50%
      height: 30px
      width: 30px

      & > span.current
        background: $primary!important
        color: #fff!important

      a:hover
        background: #fff!important
        color: $primary!important