.xoo-wsc-modal

  &.active
    .xoo-wsc-container
      right: 0!important


  .xoo-wsc-basket
    background: $primary
    border-radius: 50%
    border: 1px solid #fff
    box-shadow: none
    width: 55px
    height: 55px

    .xoo-wsc-items-count
      background: $primary
      border: 1px solid #fff
      left: -12px
      top: -12px

    .xoo-wsc-bki
      color: #fff
      font-size: 30px

  .xoo-wsc-container

    @include media-breakpoint-down(sm)
      width: 100%!important
      right: -100%

    .xoo-wsc-header
      border-bottom: none

      .xoo-wsc-ctxt
        font-size: $h3-font-size
        font-weight: 100
        text-transform: uppercase
        position: relative

        @include dot()

        &:after
          position: absolute
          bottom: -16px
          right: -18px

    .xoo-wsc-product
      border-bottom: none

      .xoo-wsc-img-col
        width: 25%!important

      .xoo-wsc-remove
        text-transform: uppercase
        font-size: 13px
        font-weight: 100
        display: inline-block
        background: #f5f4f4
        color: #a3a2a2
        padding: 3px 10px
        margin-top: 10px!important

      .xoo-wsc-sum-col
        width: 75%!important
        padding-left: 25px
        padding-right: 25px
        margin-left: 0

        a
          text-transform: uppercase
          font-weight: 500
          font-size: 13px
          display: block

        .variation
          margin: 0!important

          dt
            display: none

          dd
            font-size: 13px
            font-weight: 100
            text-transform: uppercase

        .xoo-wsc-quantity
          width: 50%
          float: left
          text-align: left

          span
            font-weight: 100

        .xoo-wsc-price
          width: 50%
          float: right
          text-align: right

          span
            font-weight: 100

    .xoo-wsc-footer
      border-top: none

      .xoo-wsc-shiptxt
        display: none

      .xoo-wsc-subtotal
        @include clearfix()

        & > span:first-child
          display: block
          width: 70px
          float: left
          font-size: $h4-font-size
          text-transform: uppercase
          font-weight: 700

        & > .amount
          display: block
          width: calc(100% - 70px)
          float: left
          text-align: right
          font-size: $h4-font-size
          text-transform: uppercase
          font-weight: 100

      .xoo-wsc-footer-a
        margin-bottom: $spacing-md

      .xoo-wsc-footer-b
        & > a
          margin: 0
          padding: 7px 10px
          border-radius: 0
          text-transform: uppercase
          text-align: left
          font-weight: 100
          background: #fff
          color: $primary

          &:hover
            background: $primary!important
            color: #fff!important

        .xoo-wsc-chkt
          display: none