.single-product

  .stock
    display: none!important

  .product
    @include clearfix()
    margin-top: $spacing-md

    @include media-breakpoint-up(lg)
      margin-top: $spacing-lg

  .product_title
    text-transform: uppercase
    font-size: 23px
    margin-bottom: 0
    text-align: center
    display: inline-block

    &:after
      position: absolute
      bottom: -6px
      right: -18px

    @include media-breakpoint-up(md)
      font-size: $h3-font-size

    @include media-breakpoint-up(lg)
      text-align: left

  p.brand
    @extend .featured-product__brand
    text-align: center

    @include media-breakpoint-up(lg)
      text-align: left

  .product-info
    margin-top: $spacing-md
    text-align: left!important

    @include media-breakpoint-up(lg)
      margin-top: 0

    &__item
      width: 50%
      height: 30px
      vertical-align: baseline
      font-size: 12px
      font-weight: 600
      text-transform: uppercase

      @include media-breakpoint-up(sm)
        width: 40%
        font-size: 15px

      @include media-breakpoint-up(md)
        width: 25%

      @include media-breakpoint-up(lg)
        width: 200px

      &:nth-child(even)
        font-weight: 300
        width: 50%

        @include media-breakpoint-up(lg)
          width: 300px

  .woocommerce-product-gallery
    width: 60%!important
    margin: 0 auto
    float: none!important

    @include media-breakpoint-up(md)
      width: 30%!important

    @include media-breakpoint-up(lg)
      width: 27%!important
      float: left!important

    a
      cursor: default!important

  .summary
    width: 100%!important
    text-align: center

    @include media-breakpoint-up(lg)
      width: 45%!important
      padding-left: $spacing-sm
      padding-right: $spacing-sm
      float: left!important
      text-align: left

  .icons
    width: 100%!important

    @include media-breakpoint-up(lg)
      width: 28%!important
      float: left

    ul
      @include list-unstyled()
      margin: 0!important

      li
        font-size: $font-size-base!important
        text-transform: uppercase!important
        font-weight: 100!important
        margin-bottom: 8px!important

        img
          width: 50px!important
          margin-right: 10px!important

    &__item
      display: block
      margin-bottom: 15px
      font-size: 15px
      font-weight: 300!important
      text-transform: uppercase

  table.variations
    width: 100%!important
    float: none!important
    text-align: center
    margin-bottom: 0!important

    @include media-breakpoint-up(md)
      width: 150px!important
      float: left!important
      text-align: left!important

    .label
      display: none

    .value

      div
        display: inline-block
        margin: 0 5px

        input[type="radio"]
          display: block
          margin: 0 auto
          -webkit-appearance: none
          border: 1px solid $primary
          border-radius: 50%
          height: 13px
          width: 13px
          transition: all $transition-time-md

          &:active, &:checked
            background: $primary

        label
          font-size: 13px
          font-weight: 100!important
          text-transform: uppercase

      a.reset_variations
        display: none!important

  .single_variation_wrap
    width: 100%!important
    float: none!important

    @include media-breakpoint-up(md)
      width: calc(100% - 150px)!important
      float: left!important

  .woocommerce-variation-price, .single_variation, p.price
    display: block!important
    margin: $spacing-sm 0
    font-size: $h2-font-size!important
    font-weight: 500!important
    color: $primary!important
    text-align: center

    @include media-breakpoint-up(md)
      text-align: left
      margin: $spacing-sm 0 $spacing-md 0

    .amount
      color: $primary!important

    ins
      font-weight: inherit!important
      display: block
      text-decoration: none!important

    span
      font-size: $h2-font-size!important

  .quantity
    float: none!important
    margin: 0!important
    text-align: center

    @include media-breakpoint-up(md)
      float: left!important
      position: relative
      top: 4px

  .cart

    .btn
      background: $primary
      color: $secondary
      text-transform: uppercase
      font-weight: 100
      font-size: 16px
      margin: 15px 0 0

      display: block
      width: 100%
      float: none!important

      @include media-breakpoint-up(md)
        width: auto!important
        float: left!important
        margin: 0 0 15px 8px


  .added_to_cart
    display: none!important

  // REVIEWS

  .woocommerce-Reviews
    width: 100%!important

  .woocommerce-Reviews-title,
  .woocommerce-noreviews,
  .comment-reply-title,
  .comment-notes
    display: none

  .comment-form-rating
    & > label
      font-family: $headings-font-family
      font-size: $h2-font-size
      text-transform: uppercase
      font-weight: 100

      @include dot()

  .comment-form

    // FORM INPUTS / TEXTAREA

    & > p
      position: relative
      margin-bottom: 60px!important

      br
        display: none!important

      textarea
        height: 150px
        color: $primary!important
        padding: 10px!important
        font-weight: 100
        border: 1px solid $primary

        &:focus
          box-shadow: none!important
          outline: none!important

        &::-webkit-input-placeholder,
        &::placeholder
          color: $primary!important
          font-size: 13px!important
          text-transform: uppercase!important

        label
          letter-spacing: 1px!important

      input[type="text"],
      input[type="email"]
        height: 22px!important
        color: $primary!important
        font-weight: 100
        border-top: none!important
        border-right: none!important
        border-left: none!important
        border-bottom: 1px solid $primary!important
        padding: 0

        &:focus
          box-shadow: none!important
          outline: none!important

      input[type="submit"]
        background: $primary!important
        color: #fff!important
        text-transform: uppercase
        font-weight: 100!important
        border-radius: 0!important

      label
        text-transform: uppercase
        font-size: 13px
        font-weight: 100
        margin-bottom: 0!important

        position: absolute
        bottom: -25px
        left: 0

    // STARS

    .stars
      margin-top: 5px!important
      margin-bottom: 23px!important

      a
        width: 26px!important
        font-size: 22px!important

    /* Base */
    p.stars.selected a.active~a:before,
    p.stars:hover a:before,
    p.stars a:before,
    p.stars a:hover~a:before,
    p.stars.selected a:not(.active):before,
    p.stars.selected a.active:before
      font-family: 'FontAwesome'!important


    /* Empty Stars */
    p.stars a:before,
    p.stars a:hover~a:before,
    p.stars.selected a.active~a:before
      content: "\f08a"!important

    /* Filled Stars */
    p.stars:hover a:before,
    p.stars.selected a:not(.active):before,
    p.stars.selected a.active:before
      content: "\f004"!important

  .comment-text .star-rating

    &:before
      font-family: 'FontAwesome'!important
      content: '\f08a\f08a\f08a\f08a\f08a'!important
      letter-spacing: 2px!important

    span
      &:before
        font-family: 'FontAwesome'!important
        content: '\f004\f004\f004\f004\f004'!important
        letter-spacing: 2px!important

  & > p
      position: relative
      margin-bottom: 60px!important

      br
        display: none!important

      textarea
        height: 150px
        color: $primary!important
        padding: 10px!important
        font-weight: 100
        border: 1px solid $primary

        &:focus
          box-shadow: none!important
          outline: none!important

        &::-webkit-input-placeholder,
        &::placeholder
          color: $primary
          font-size: 13px
          text-transform: uppercase
          letter-spacing: 1px

      input[type="text"],
      input[type="email"]
        height: 22px!important
        color: $primary!important
        font-weight: 100
        border-top: none!important
        border-right: none!important
        border-left: none!important
        border-bottom: 1px solid $primary!important
        padding: 0

        &:focus
          box-shadow: none!important
          outline: none!important

      input[type="submit"]
        background: $primary!important
        color: #fff!important
        text-transform: uppercase
        font-weight: 100!important
        border-radius: 0!important

      label
        text-transform: uppercase
        font-size: 13px
        font-weight: 100
        margin-bottom: 0!important

        position: absolute
        bottom: -25px
        left: 0

  #comments
    margin-bottom: $spacing-md

  ol.commentlist
    padding: 0

  .comment-text
    margin: 0!important
    border: 1px solid $grey!important
    border-radius: 0!important
    padding: 1em!important

  .meta
    float: left
    display: block
    margin-bottom: 40px!important

    font-size: 13px!important
    font-weight: 100!important
    text-transform: uppercase
    color: $primary!important
    width: 120px
    text-align: center

    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    max-width: 200px

  .star-rating
    position: absolute
    top: 40px
    left: 30px
    width: 90px

  .review-divider
    display: block
    height: 80%
    width: 1px
    background: $grey
    position: absolute
    top: 10%
    left: 150px

  .description
    width: calc(100% - 150px)
    float: right
    position: relative
    top: -1px
    min-height: 45px

    p
      font-size: 15px!important
      font-weight: 100!important
      text-transform: uppercase
      margin-bottom: 0!important
      word-wrap: break-word!important
