.blog-sidebar
  text-align: center
  padding-bottom: $spacing-md

  @include media-breakpoint-up(md)
    text-align: left

  &__list
    margin-top: $spacing-sm
    margin-bottom: 0!important

    li
      text-transform: uppercase
      font-weight: 100
      font-size: $font-size-base
      transition: all $transition-time-md

      width: 100%
      height: 28px
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

      &:hover
        font-weight: 700

  &__heading
    font-weight: 500
    margin-top: $spacing-lg
    font-size: 17px!important

    &:after
      right: auto!important
      left: 20px

  &__author
    margin-top: 25px

  &__author-name
    display: inline-block
    text-transform: uppercase
    font-weight: 100
    margin-bottom: 0
    margin-left: 15px

  &__author-avatar

    img
      border-radius: 50%
      background: #000