.blog

  &__latest-post
    .post__overlay
      opacity: 1!important

  &__authors
    margin-bottom: $spacing-sm

    ul
      @include list-unstyled()
      @include clearfix()
      margin-bottom: 0!important

      display: flex
      flex-direction: row

    .blog__author
      width: calc(100% / 3)
      height: 180px
      background-repeat: no-repeat
      background-size: cover

      display: flex
      flex-direction: column
      justify-content: center
      align-items: center

      position: relative
      float: left

      &:not(:last-child)
        margin-right: $spacing-sm

      @include media-breakpoint-up(md)
        height: 233px

    .blog__author-overlay
      position: absolute
      height: 100%
      width: 100%
      background: rgba(0, 0, 0, .5)
      z-index: 1

    .blog__author-avatar
      z-index: 2
      text-align: center

      img
        border-radius: 50%
        width: 80%

        @include media-breakpoint-up(md)
          width: 100%

    .blog__author-name
      font-size: 16px
      text-transform: uppercase
      color: #fff
      font-weight: 300
      z-index: 2
      margin-top: $spacing-sm
      text-align: center

      @include media-breakpoint-up(md)
        font-size: $h4-font-size

.blog, .category, .author

  article.post
    height: 300px
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    background-size: cover
    background-repeat: no-repeat

    padding: 0 30px
    margin-bottom: $spacing-sm
    position: relative

    &:hover
      .post__overlay
        opacity: 1

    @include media-breakpoint-up(md)
      height: 500px
      padding: 0 100px

    .post__overlay
      position: absolute
      height: 100%
      width: 100%
      background: rgba(0, 0, 0, .5)
      z-index: 1
      opacity: 0
      transition: all $transition-time-md

    .entry-content
      text-align: center
      z-index: 2

      .post__title
        font-weight: 300
        text-transform: uppercase
        font-size: 20px
        text-align: center

        @include media-breakpoint-up(md)
          font-size: $h2-font-size

        & > a
          color: #fff

      img
        border-radius: 50%
        margin-top: $spacing-sm