.single-post

  article.post

    & > img
      width: 100%
      height: 300px
      object-fit: cover
      margin-bottom: $spacing-md

      @include media-breakpoint-up(md)
        height: 500px

  .entry-meta
    text-transform: uppercase
    font-weight: 100
    text-align: center
    font-size: 13px

    @include media-breakpoint-up(lg)
      text-align: left
      font-size: $font-size-base

    &__divider
      display: inline-block
      padding: 0 10px

  &__title
    font-size: 20px
    font-weight: 300
    text-transform: uppercase
    text-align: center
    margin-top: $spacing-lg
    line-height: 32px

    @include media-breakpoint-up(md)
      font-size: $h2-font-size
      line-height: 42px

  &__author-avatar
    text-align: center

    img
      border-radius: 50%
      display: block
      margin: $spacing-lg auto

  .entry-content
    overflow-x: hidden

  .comments-area
    margin-top: $spacing-md

    .entry-title
      margin-bottom: 20px!important

    ul.comment-list
      @include list-unstyled()

      .comment-meta

        .avatar
          display: none

        .comment-author
          display: inline-block

          .says
            display: none

        .comment-metadata
          display: inline-block
          font-weight: 100
          font-size: 14px

      .reply
        text-transform: uppercase
        font-weight: 100

      .children
        list-style: none

      .comment-body
        margin-bottom: $spacing-md

      .comment-reply-title

        small
          font-size: 16px
          font-weight: 100

    form.comment-form

      .comment-notes
        display: none!important

      .form-group
        position: relative
        margin-bottom: 2rem

        textarea
          height: 150px
          margin-top: 12px
          padding: 6px
          width: 100%
          color: $primary!important
          font-weight: 100
          border: 1px solid $primary

          &:focus
            box-shadow: none!important
            outline: none!important

          &::-webkit-input-placeholder,
          &::placeholder
            color: $primary
            font-size: 13px
            text-transform: uppercase
            letter-spacing: 1px!important

        input[type="text"],
        input[type="email"]
          height: 22px!important
          color: $primary!important
          font-weight: 100
          border-top: none!important
          border-right: none!important
          border-left: none!important
          border-bottom: 1px solid $primary
          padding: 0

          &:focus
            box-shadow: none!important
            outline: none!important

        input[type="submit"]
          background: $primary!important
          color: #fff!important
          text-transform: uppercase
          font-weight: 100

        label
          text-transform: uppercase
          font-size: 13px
          font-weight: 100
          margin-bottom: 0!important

          position: absolute
          bottom: -25px
          left: 0

      .form-submit

        .btn
          background: $primary!important
          color: #fff!important
          text-transform: uppercase
          font-weight: 100