@mixin dot

  position: relative

  &:after
    content: '.'
    font-size: 38px
    font-weight: 900

    @include media-breakpoint-up(lg)
      font-size: 52px

@mixin dot-below
  position: relative

  &:after
    content: '.'
    font-size: 52px
    font-weight: 900

    position: absolute
    bottom: -33px
    left: 50%
    transform: translateX(-50%)

    transition: opacity $transition-time-md
    opacity: 0

@mixin dot-left
  position: relative

  &:after
    content: '.'
    font-size: 52px
    font-weight: 900

    position: absolute
    top: -35px
    left: -20px

    transition: opacity $transition-time-md
    opacity: 0

    @include media-breakpoint-up(md)
      font-size: 65px
      top: -43px
      left: -22px