p, h1, h2, h3, h4, h5, h6, a, li, td
  letter-spacing: $letter-spacing!important

.entry-title
  @extend .block__heading
  text-align: center!important

  @include media-breakpoint-up(md)
    text-align: left!important

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected]
  background: $primary

.woocommerce-message,
.woocommerce-error
  display: none!important

.home .xoo-wsc-basket,
.blog .xoo-wsc-basket,
.single-post .xoo-wsc-basket
  display: none

.down
  display: inline-block!important
  padding: 5px 10px
  color: #fff!important
  background: $primary
  font-size: $h5-font-size
  font-weight: 100
  text-transform: uppercase
  margin-top: $spacing-sm
  position: relative
  top: -6px

  &:after
    content: ''
    display: block
    height: 8px
    width: 8px
    border: 8px solid $primary
    border-bottom-color: transparent
    border-right-color: transparent
    border-left-color: transparent
    position: absolute
    bottom: 0
    right: 27px
    transform: translateY(100%)

  &--big
    font-size: $h5-font-size

    @include media-breakpoint-up(lg)
      font-size: $h4-font-size

.down-wrapper
  text-align: center

  @include media-breakpoint-up(lg)
    text-align: left

#cn-accept-cookie
  background: #fff !important
  color: $primary!important
  text-shadow: none!important
  border-radius: 0!important