.block
  margin: $spacing-md 0 $spacing-sm 0
  text-align: center

  @include media-breakpoint-up(lg)
    margin: $spacing-xl 0 $spacing-md 0

  &__heading
    font-family: $font-family-base
    font-weight: 100
    text-transform: uppercase
    margin-bottom: $spacing-sm
    text-align: center
    font-size: $headings-font-size-md

    @include dot()

    @include media-breakpoint-up(lg)
      font-size: $h1-font-size
      margin-bottom: $spacing-lg

  p
    font-weight: 100
    font-size: 16px

    @include media-breakpoint-up(lg)
      font-size: 24px