.contact

  .entry-title
    margin-bottom: $spacing-md!important

  .contact-form
    &__heading
      margin-bottom: $spacing-md

      @include media-breakpoint-up(lg)
        margin-bottom: $spacing-lg

  .wpcf7
    max-width: 100%
    width: 100%

    @include media-breakpoint-up(lg)
      max-width: 600px

  form
    .wpcf7-not-valid-tip
      font-size: 12px!important

    .wpcf7-validation-errors
      display: none!important

    .wpcf7-response-output
      padding: 0!important
      margin: -60px 0 0!important
      border: none!important

    p
      position: relative
      margin-bottom: 60px!important

      br
        display: none!important

    textarea
      height: 150px
      color: $primary!important
      font-weight: 100
      border: 1px solid $primary

      &:focus
        box-shadow: none!important

      &::-webkit-input-placeholder,
      &::placeholder
        color: $primary
        font-size: 13px
        text-transform: uppercase
        letter-spacing: 1px

    input[type="text"],
    input[type="email"]
      height: 22px!important
      color: $primary!important
      font-weight: 100
      border-top: none!important
      border-right: none!important
      border-left: none!important
      padding: 0

      &:focus
        box-shadow: none!important

    input[type="submit"]
      background: $primary!important
      color: #fff!important
      text-transform: uppercase
      font-weight: 100

    label
      text-transform: uppercase
      font-size: 13px
      font-weight: 100
      margin-bottom: 0!important

      position: absolute
      bottom: -25px
      left: 0


.contact-info

  p
    font-weight: 300
    text-transform: uppercase
    margin-bottom: $spacing-md

  &__heading
    font-weight: 500!important

.contact-text
  text-align: center

  @include media-breakpoint-up(lg)
    text-align: left

  &__btn
    margin-right: 10px
    margin-bottom: $spacing-md

  p
    display: none
    text-align: left!important