.site-footer
  background: $primary
  padding: 40px 0
  text-align: center
  margin-top: $spacing-xl

  &__contact
    margin: 0
    padding: 0

    li

      &:not(:last-child)
        margin-right: 10px

        @include media-breakpoint-up(md)
          margin-right: 30px

      & > a
        color: $secondary
        opacity: .75
        text-transform: uppercase
        font-size: 12px
        font-weight: 100

        @include media-breakpoint-up(md)
          font-size: 17px

  &__social
    padding: 0
    margin: 20px 0 0

    li

      &:not(:last-child)
        margin-right: 10px

    .fab
      font-size: 35px
      color: $secondary

.made-by
  text-align: center
  padding: 30px 0

  &__papaya
    width: 90px
    display: inline-block
    margin: 0 auto

    @include media-breakpoint-up(md)
      width: 180px

  &__lookasy
    display: inline-block
    font-size: 18px
    color: $primary
    margin: 0 20px

    @include media-breakpoint-up(md)
      font-size: 30px
      position: relative
      top: 7px
      margin: 0 30px

  &__junkngold
    width: 30px
    display: inline-block
    margin: 0 auto

    @include media-breakpoint-up(md)
      width: 45px