.site-header
  background: $secondary
  padding: 20px 0 30px 0
  text-align: center

  @include media-breakpoint-up(md)
    padding: 50px 0
    text-align: left

  &__logo
    width: 160px
    margin: 0 auto

    @include media-breakpoint-up(md)
      margin: 0

.site-navigation
  text-align: center
  margin-top: 20px

  @include media-breakpoint-up(md)
    position: relative
    top: 15px
    text-align: right
    margin-top: 0

  &__list
    margin-bottom: 0
    padding: 0

    li
      display: inline-block
      margin: 0 10px

      @include media-breakpoint-up(md)
        margin: 0 25px

      &.active,
      &.current_page_parent

        .nav-link
          font-weight: 900

          &:after
            opacity: 1

    .nav-link
      color: $primary
      padding: 0

      font-size: 12px
      font-weight: 300
      text-transform: uppercase
      letter-spacing: 2px
      transition: all $transition-time-md

      @include dot-below()

      @include media-breakpoint-up(md)
        font-size: 14px

      &:hover

        &:after
          opacity: 1