.coffees

.coffee
  height: 365px
  width: 100%
  max-width: 320px
  margin: $spacing-md auto 0 auto
  padding: $spacing-md
  border: 1px solid #dcdcdc

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  font-size: 18px
  color: $brand-dark

  @include media-breakpoint-up(sm)
    width: 80%
    max-width: 100%

  @include media-breakpoint-up(lg)
    width: 100%
    margin: 0
    font-size: 20px
    height: 415px
    padding: $spacing-md $spacing-lg

  &__icon
    width: 100px

    @include media-breakpoint-up(lg)
      width: 150px

    &--cup
      position: relative
      left: 8px

  &__type
    text-transform: uppercase
    font-weight: 300
    color: $brand-dark
    margin-top: $spacing-sm
    margin-bottom: 30px

    @include media-breakpoint-up(lg)
      margin-bottom: 50px

  &__name
    text-transform: uppercase
    color: $primary
    font-weight: 700
    margin-bottom: 5px
    font-size: 18px

    @include media-breakpoint-up(lg)
      font-size: $h4-font-size

  &__roastery
    font-weight: 300
    color: $primary
    margin-bottom: 10px

  &__taste-profile
    font-weight: 100