.featured-products

  .products
    @include clearfix()

.featured-product
  text-align: center
  width: 100%
  margin-top: $spacing-md
  transition: transform .3s

  @include media-breakpoint-up(xs)
    width: 50%
    float: left

  @include media-breakpoint-up(md)
    margin-top: $spacing-lg

  @include media-breakpoint-up(lg)
    width: 25%
    float: left
    margin-top: 0

  &:hover
    transform: scale(1.1)

  &__thumbnail
    display: inline-block
    width: 80%!important

  &__title
    font-weight: 500!important
    text-transform: uppercase
    font-size: 17px!important
    margin-top: $spacing-sm!important
    margin-bottom: 0!important

    @include media-breakpoint-up(md)
      font-size: 20px!important

  &__brand
    font-size: 14px!important
    font-weight: 100!important
    text-transform: uppercase
    margin-top: 0!important

    @include media-breakpoint-up(md)
      font-size: 16px!important

  &__additionals
    font-size: 14px!important
    font-weight: 100!important
    margin-top: $spacing-sm
    margin-bottom: 0

    @include media-breakpoint-up(md)
      font-size: 16px!important

  .btn
    border-radius: 0
    padding: 1px 5px
    font-size: 15px
    font-weight: 500
    margin-top: 5px

    @include media-breakpoint-up(md)
      font-size: 18px
