.images
  @include clearfix()

  article
    height: 300px
    width: 100%
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    position: relative

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 0 $spacing-sm

    @include media-breakpoint-up(md)
      width: 50%
      float: left
      height: 600px
      padding: 0 $spacing-md

    &:hover
      .post__overlay
        opacity: 1

      .post__title
        opacity: 1

    .post__overlay
      position: absolute
      height: 100%
      width: 100%
      background: rgba(0, 0, 0, .5)
      z-index: 1

      opacity: 0
      transition: all $transition-time-md

    .entry-content
      z-index: 2

    .avatar
      display: none

    .post__title
      opacity: 0
      transition: all $transition-time-md

      a
        color: #fff
        text-transform: uppercase
        font-weight: 100