.places
  text-align: left

  &__item
    margin-top: $spacing-md

    @include media-breakpoint-up(lg)
      margin-top: 0

  &__map
    display: block
    width: 100%
    height: 400px
    background-size: cover
    position: relative
    margin-top: 0

    @include media-breakpoint-up(md)
      height: 500px

    &--gorkeho
      background-image: url("../img/map-gorkeho.png")

    &--staromestska
      background-image: url("../img/map-staromestska.png")



  &__gmaps-btn
    border: 1px solid $secondary
    border-radius: 0
    text-transform: uppercase
    font-weight: 100
    font-size: 12px
    color: $secondary

    position: absolute
    bottom: 10px
    right: 10px

    &:hover
      color: $primary
      border-color: $secondary
      background: $secondary

  &__heading
    margin: $spacing-lg 0 0
    text-transform: uppercase
    font-size: 30px
    font-weight: 300
    position: relative
    display: inline-block

    @include media-breakpoint-up(lg)
      font-size: 40px

    .open-soon
      font-size: 14px
      color: $secondary
      text-transform: uppercase
      font-weight: 100
      padding: 5px 10px
      background: #131313
      position: absolute
      top: -35px
      left: 0

      @include media-breakpoint-up(md)
        font-size: 20px
        top: -45px

      &:after
        content: ''
        display: block
        height: 0
        width: 0
        border: 7px solid #131313
        border-right-color: transparent
        border-left-color: transparent
        border-bottom-color: transparent
        position: absolute
        bottom: -14px
        left: 20px

  p
    font-size: 18px
    font-weight: 100
    margin-top: $spacing-md

  &__address
    font-size: 26px
    font-weight: 300
    margin-top: $spacing-md
    margin-bottom: 0

    @include media-breakpoint-up(lg)
      font-size: 32px

  &__contact-person
    font-size: 15px
    font-weight: 100
    margin-top: 3px

    @include media-breakpoint-up(lg)
      font-size: 18px
      margin-top: 0

  &__opening-hours
    font-size: 30px
    font-weight: 100
    margin-top: $spacing-md
    margin-bottom: 0

    @include media-breakpoint-up(lg)
      font-size: 40px